<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<title>Kumbi Template</title>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<header><h1 id='logo'>KUMBI</h1></header>
	 	<div class='imagem'>
	  		<img src='pessoas.jpg' id='imagem1'>
		</div>
		<div class='mascara'></div>
		<h2>Ajudando pessoas<br/>a manterem suas contas<br/> em dia.</h2>
		<div class='frame'></div>
		<div class='retanguloimagem'></div>
		<div class='formachat'></div>
		<div class='botao'></div>
		<h1 id='Nome'>Joao</h1>
		<p>Tudo bem? Nós, da Kumbi, sabemos que por ai pode estar um pouco corrido, entao para facilitar pra voce estamos disponibilizando o pagamento da sua próxima fatura. Fique a vontade para nos chamar através do contato (xx)xxxxx-xxxx caso apareça aquela dúvida.</p>
		<a href="https://braziljournal.com">Pagar Fatura</a>
		<h3>Para tira qualquer dúvida e obter informações sobre seu pagamento, você pode falar com nosso chat bot pelo Whatsapp</h3>
		<img src='chat.svg' id='imagem2'>
		<h4>(xx)xxxx-xxxx</h4>
		<h5 id='email'>contato@kumbi.com.br</h5>
		<h5 id='telefone'>(92) XXXXX-XXXX</h5>
		<h5 id='insta'>@kumbi</h5>
	</body>
</html>