<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<title>Kumbi Template</title>
		<style>
 html {

	font-size: 62.5%;
}

.frame {
	position: absolute;
	width: 100%;
	max-width: 1024px;
	height: 100%;
	max-height: 1372px;
	left: 0px;
	top: 0px;
	background: #1E7883;
	border-radius: 0px;
}
#logo {
	position: absolute;
	width: 243px;
	height: 80px;
	left: 45px;
	top: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 7.2rem;
	line-height: 8.4rem;
	color: #FFFFFF;
	z-index: 3;
}
#imagem1 {
	position: absolute;
	width: 100%;
	max-width: 1024px;
	height: 100%;
	max-height: 428px;
	left: 0px;
	top: 0px;
	background: #1E7883;
	border-radius: 0px 0px 300px 0px;
	z-index: 1;
	object-fit: cover;
}
.mascara {
	position: absolute;
	width: 100%;
	max-width: 1024px;
	height: 100%;
	max-height: 428px;
	left: 0px;
	top: 0px;
	background: rgba(30, 120, 131, 0.35);
	opacity: 0.7;
	border-radius: 0px 0px 300px 0px;
	z-index: 2;
}
.formachat {
	position: absolute;
	width: 723px;
	height: 341px;
	left: 0px;
	top: 977px;
	background: #FAF7F7;
	border-radius: 0px 52px 52px 0px;
}
h2 {
	position: absolute;
	width: 699px;
	height: 196px;
	left: 45px;
	top: 156px;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 4.8rem;
	line-height: 5.5rem;
	z-index: 3;
	color: #FFFFFF;
}
.botao {
	position: absolute;
	width: 437px;
	height: 74px;
	left: 293px;
	top: 807px;
	background: #A7CB8E;
	border-radius: 25px;
}
#Nome {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 305px;
	max-height: 181px;
	left: 136px;
	top: 508px;
	font-family: Orelega One;
	font-style: normal;
	font-weight: 900;
	font-size: 6.4rem;
	line-height: 9.0rem;
	color: #F3A332;
}
p {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 744px;
	max-height: 112px;
	left: 140px;
	top: 598px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: #FFFFFF;
}
a {
	position: absolute;
	width: 212px;
	height: 34px;
	left: 406px;
	top: 820px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 4.2rem;
	color: #1E7883;
	text-decoration: none;
}
h3 {
	position: absolute;
	width: 339px;
	height: 28px;
	left: 54px;
	top: 965px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3.1rem;
	line-height: 4.2rem;
	color: #1E7883;
}
#imagem2 {
	position: absolute;
	width: 222px;
	height: 189px;
	left: 441px;
	top: 1026px;
}
h4 {
	position: absolute;
	width: 230px;
	height: 34px;
	left: 440px;
	top: 1180px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 4.2rem;
	color: #1E7883;
}
#email {
	position: absolute;
	width: 213px;
	height: 28px;
	left: 157px;
	top: 1302px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 2.0rem;
	line-height: 2.3rem;
	color: #FFFFFF;
}
#telefone {
	position: absolute;
	width: 213px;
	height: 28px;
	left: 501px;
	top: 1302px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 2.0rem;
	line-height: 2.3rem;
	color: #FFFFFF;
}
#insta {
	position: absolute;
	width: 213px;
	height: 28px;
	left: 843px;
	top: 1302px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 2.0rem;
	line-height: 2.3rem;
	color: #FFFFFF;
}

</style>

		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<header><h1 id='logo'>KUMBI</h1></header>
	 	<div class='imagem'>
	  		<img src='pessoas.jpg' id='imagem1'>
		</div>
		<div class='mascara'></div>
		<h2>Ajudando pessoas<br/>a manterem suas contas<br/> em dia.</h2>
		<div class='frame'></div>
		<div class='retanguloimagem'></div>
		<div class='formachat'></div>
		<div class='botao'></div>
		<h1 id='Nome'>Joao</h1>
		<p>Tudo bem? Nós, da Kumbi, sabemos que por ai pode estar um pouco corrido, entao para facilitar pra voce estamos disponibilizando o pagamento da sua próxima fatura. Fique a vontade para nos chamar através do contato (xx)xxxxx-xxxx caso apareça aquela dúvida.</p>
		<a href="https://braziljournal.com">Pagar Fatura</a>
		<h3>Para tira qualquer dúvida e obter informações sobre seu pagamento, você pode falar com nosso chat bot pelo Whatsapp</h3>
		<img src='chat.svg' id='imagem2'>
		<h4>(xx)xxxx-xxxx</h4>
		<h5 id='email'>contato@kumbi.com.br</h5>
		<h5 id='telefone'>(92) XXXXX-XXXX</h5>
		<h5 id='insta'>@kumbi</h5>
	</body>
</html>