<!DOCTYPE html>

<html lang="pt-br">
 
<head>
  <meta charset="UTF-8">
  <title>Kumbi</title>
</head>
 
<body>
 
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
 
<!--HEADER -->
 
 <tbody><tr>
 <td align="center">
 <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td align="center" valign="top" background="https://i.ibb.co/yFQSsMH/pessoas.jpg"style="background-size:cover; background-position:top;height=;filter: brightness(80%);" 400""="">
 
 
 <table class="col-600" width="600" height="400" border="0" align="center" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td height="40"></td>
 </tr>
 
 
 <tr>
 <td align="center" style="line-height: 0px;">
 <img style="line-height:0px; font-size:0px; border:0px;" src="https://i.postimg.cc/XZbtRkQx/logoih.jpg" width="109" height="115" alt="logo">
 
 </td>
 </tr>
 
 
 
 <tr>
 <td align="center" style="font-family: 'Raleway', sans-serif; font-size:40px; color:white; line-height:24px; font-weight: bold; letter-spacing: 5px; filter: brightness(100%);">
 Ponte entre<br> <span style="font-family: 'Raleway', sans-serif; font-size:40px; color:white; line-height:39px; font-weight: 250; letter-spacing: 5px; filter: brightness(100%);">pessoas e ideias</span>
 </td>
 </tr>
 
 
 <tr>
 <td height="50"></td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 
<!-- END HEADERR -->
 
 
<!-- START SHOWCASE -->
 
 <tr>
 <td align="center">
 <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
 <tbody>
 
 
 </tbody></table>
 </td>
 </tr>
<!-- END SHOWCASE -->
 
 
<!-- START TITLE -->
 
 <tr>
 <td align="center">
 <table align="center" class="col-600" width="600" border="0" cellspacing="0" cellpadding="0">
 <tbody><tr>
 <td align="center" bgcolor="#872A22">
 <table class="col-600" width="600" align="center" border="0" cellspacing="0" cellpadding="0">
 <tbody><tr>
 <td height="33"></td>
 </tr>
 <tr>
 <td>
 
 
 <table class="col1" width="183" border="0" align="center" cellpadding="0" cellspacing="0">
 
 <tbody><tr>
 <td height="18"></td>
 </tr>
 
 <tr>
 <td align="center">
 <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="images_style" src="https://webdevtrick.com/wp-content/uploads/email-template.png" alt="img" width="156" height="160">
 </td>
 
 
 
 </tr>
 </tbody></table>
 
 
 
 <table class="col3_one" width="380" border="0" align="center" cellpadding="0" cellspacing="0">
 
 <tbody><tr align="left" valign="top">
 <td style="padding-left: 16px; font-family: 'Raleway', sans-serif; font-size:30px; color:#fbb016; line-height:30px; font-weight: bold;">João, </td>
 </tr>
 
 
 <tr>
 <td height="5"></td>
 </tr>
 
 
 <tr align="left" valign="top">
 <td style="padding-left: 16px; font-family: 'Lato', sans-serif; font-size:16px; color:#fff; line-height:24px; font-weight: 250; padding-right: 10px;">
 Tudo bem? Nós, do Impact Hub, sabemos que por ai pode estar um pouco corrido, entao para facilitar pra voce estamos disponibilizando o pagamento da sua próxima fatura.
 </td>
 </tr>
 
 <tr>
 <td height="10"></td>
 </tr>
 
 <tr align="left" valign="top">
 <td>
 <table align="center" class="button" style="border: 2px solid #fff;" bgcolor="#fffff" width="30%" border="0" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td width="10"></td>
 <td height="30" align="center" style="font-weight: bold; font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#ffffff;">
 <a href="https://braziljournal.com" style="color:#872A22; text-decoration: none;">Pagar Fatura</a>
 </td>
 <td width="10"></td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 </tbody></table>
 </td>
 </tr>
 <tr>
 <td height="33"></td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 
<!-- END TITLE -->
 
 
<!--ABOUT -->
 
 <tr>
 <td align="center">
 <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="">
 
 
 
 <tbody><tr>
 <td align="center">
 <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="">
 <tbody><tr>
 <td height="50"></td>
 </tr>
 <tr>
 <td align="center">
 
 <table class="col2" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td align="center" style="line-height:0px;">
 <img style="margin-left: 30px; display:block; line-height:0px; font-size:0px; border:0px;" class="images_style" src="https://i.postimg.cc/tZQPtDtd/chatbot-3.png" width="169" height="138">
 
   <tr align="center" valign="top">
 <td>
 <table class="button" style="border: 2px solid #fff; width: 150px;" bgcolor="#872A22" border="0" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td width="20"></td>
 <td height="30" align="center" style="font-weight: bold; font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#ffffff;">
 <a href="https://wa.me/message/ZKSV5ON3JFL2G1" style="color:#ffffff; text-decoration: none;">Entrar em contato</a>
 </td>
 <td width="20"></td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 </td>
 </tr>
 
 </tbody></table>
 
 
 
 
 
 
 <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="col2" style="">
 <tbody><tr>
 <td align="center">
 <table class="insider" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 
 
 
 <tbody><tr align="center">
 <td style="font-family: 'Raleway', sans-serif; font-size:23px; color:#333; line-height: 30px; font-weight: bold;">Atendimento via whatsapp</td>
 </tr>
 
 <tr>
 <td height="5"></td>
 </tr>
 
 
 <tr>
 <td style="padding-left: 16px; font-family: 'Lato', sans-serif; font-size:16px; color:#7f8c8d; line-height:24px; font-weight: 300;">
 Para tira qualquer dúvida e obter informações sobre seu pagamento, você pode falar com nosso chat bot pelo Whatsapp
 </td>
 </tr>
 
 
 
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 
<!-- END ABOUT -->
 
 
 
<!-- CHECKOUT BELOW -->
 
 <tr>
 <td align="center">
 <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" style="">
 <tbody><tr>
 <td height="50"></td>
 </tr>
 <tr>
 
 
 <td align="center" bgcolor="#872A22">
 <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
 <tbody><tr>
 <td height="35"></td>
 </tr>
 
 
 <tr>
 <td height="40"></td>
 </tr>
 
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 
 

</body>
</html>